@media (max-width: 430px) {
    .links {
        display: none;
    }

    .search-field {
        width: 260px !important;
    }

    .first-banner-body {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        padding-left: 20px !important;
    }
}

@media (max-width: 995px) {
    .navbar-body {
        display: none;
    }
    .toggler {
        display: block;
    }
}

@media (max-width: 426px) {
    .subs-field {
        width: 200px;
    }
}